
  .company-logo {
    width: 60px;
  }
  
  .farm-trailer {
    width: 100% ;
  }
  
  
  .video-overlay {
    position:absolute;
    top:55%;
    left:42%;
    color : white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  
  #trailer-button{
    background-color: #263645; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    font-weight: bold;
  }
  
  
  .footer-list{
    list-style-type: none;
    text-align: left;
    background-color: #DDDDDD;
    color: #4E4E4E; 
    margin:0px;
  }
  
  .main-text-general{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #263645;
    font-family: cursive;
  }
  

.company-message{
  font-size: 18px;
    font-weight: bold;
    text-align: center;
    float : center;
    color: #263645;
    font-family: 'Segoe UI';
    margin-bottom: 2%;
}



.btn-w-10{
  width: 20%;
  overflow: hidden;
  position: relative;
  margin-left: 40%;
  background-color: #263645; 
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  font-weight: bold;
}


.container-text-left {
  font-family: 'Segoe UI';
  color:green;
}



.background-grey{
  background-color: #F1EFED ;
}

