.nav-bar-list {
    display: inline;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family:sans-serif;
    text-decoration: none;
    width: 5em;
  }
  
  .nav-bar-a {
    color: #666666;
    text-decoration: none;
  }
  
  .aux-nav-bar-item {
    float : right;
  }
  
  
  .company-logo {
    width: 100px;
    float : left;
    padding: 0%;
    margin: 0%;
  }